
/* for selection of AST subtrees */

span.unselected {                     }
span.selected   { background: yellow; }
span.lineinfo   { background: #eee;   }
span.lineno     { background: #ccc;   }
span.linespace  { background: white;  }

/* for AST subtree tooltip */

.tooltip {
        background: #ffd;
        -webkit-box-shadow: 0 0 10px #000;
}


